
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  --palette-two: #9d5248;
  --palette-twoa: #8c4940;
  --palette-three: #fefae0;
  --palette-threea: #e4ddce;
  --palette-threeb: #f7f2df;
  --palette-four: #dda15e;
  --palette-five: #bc6c25;
  --palette-six: #708090;
  --pallett-seven: 	#0000CD;
  --pallett-eight: #f7f7f7;
  --pallett-nine: #e8e4e4;
  --small-font-color: #4A4A4A;
}

body {
  font-family: Garamond, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--palette-three);
  transition: 0.3s;
  /* font-weight: 600; */
  /* line-height: 1.5; */
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var( --small-font-color);

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 5px 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
}


a{
  text-decoration: none;
}

/* All body button general properties START*/

body button {
  margin: 1rem 1rem 0 1rem;
  padding: 0.5rem 3rem;
  font-size: 0.8vw;
  transition: 0.3s;
  border-radius: 0;

  /* Button Color Default*/
  background-color: var(--palette-three);
  border: solid 2px var(--palette-five);
  color: var(--small-font-color);
}

body button:hover {
  transition: 0.4s;
  /* Button Colors  Default*/
  background-color: var(--palette-five);
  color: white;
}

body button[disabled] {
  cursor: default;
  opacity: 0.8;
}
/* All body button END */

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}




.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

/* Footer */
footer {
  color:white;
  background: #212121;
  text-align: center;
  padding: 4rem 0 2rem 0;
}

footer a {
  color:white;
  font-size: 14px;
  cursor: pointer;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

