
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  --pallette-two: #9d5248;
  --palette-three: #fefae0;
  --pallette-four: #dda15e;
  --pallette-five: #bc6c25;
  --small-font-color: #4A4A4A;
}

body {
  font-family: Garamond, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--palette-three);
  /* font-weight: 600; */
  /* line-height: 1.5; */
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var( --small-font-color);

}

/* main {
  max-width: 90%; 
  padding: 50px 30px;
} */






h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'EB Garamond SC', 'EB Garamond'; */
  font-weight: 500;
  margin: 5px 0;
  
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
}

a{
  text-decoration: none;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

/* Footer */
footer {
  color:white;
  background: #212121;
  text-align: center;
}

footer a {
  color:white;
  font-size: 14px;
  cursor: pointer;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

