/*GRID SECTION*/
.flex-grid {
  display: flex;
  position: relative;
  /* border: 2px solid  blue; */
  object-fit: fill;
}

.col-1 {
  width: 50%;
  height: auto;
}

.col-2 {
  width: 50%;
  height: auto;
}

/* WELCOME SECTION*/
.welcomeStatement {
  color: var(--small-font-color);
  text-align: left;
  padding: 27vw 15vw 0vw 5vw;
  /* border: 2px solid  black; */
}

.welcomeStatement h1 {
  font-size: 3rem;
}

.welcomeImageContainer{
  /* adust top padding to fit different size images */
  padding: 16.9rem 0 0 0
}
.welcomeImage{
  display: block;
  width: 100%;
  height: auto;
}

/* ABOUT SECTION */
.portraitImage {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.aboutMeContainer {
  text-align: center;
  padding: 15vw 5vw;
}
.descriptionTitle h2{
  display: block;
  font-size: 3.4rem;
  padding: 1rem 
}

.descriptionParagraph {
  display: block;
  padding: 0 4vw 1vw 4vw;
  font-family: 'Avenir', 'Helvetica', 'Clear Sans', 'Sans-serif';
  font-weight: lighter;
}

.about-button {
  display: flex;
  margin: 0rem 1rem 1rem 1rem;
  justify-content: center;
}

.about-button button:hover {
  background-color: var(--pallette-five);
  color: white;
}

.about-button button {
  border: solid 2px var(--pallette-five);
  color: var(--small-font-color);
}