/*GRID SECTION*/
.flex-grid {
  display: flex;
  position: relative;
  /* border: 2px solid  blue; */
  object-fit: fill;
}

.col-1 {
  width: 50%;
  height: auto;
}

.col-2 {
  width: 50%;
  height: auto;
}

body .flex-grid {
  display: flex;
  position: relative;
  /* border: 2px solid  blue; */
  object-fit: fill;
}

body .col-1 {
  width: 50%;
  height: auto;
}

body .col-2 {
  width: 50%;
  height: auto;
}

/* WELCOME SECTION*/
.welcomeStatement {
  color: var(--small-font-color);
  text-align: left;
  padding: 12vw 10vw 0vw 10vw;
  /* border: 2px solid  black; */
}

.welcomeStatement h1 {
  font-size: 3rem;
}

.welcomeImage{
  display: block;
  width: 100%;
  height: auto;
  filter: grayscale(30%)
}

/* ABOUT SECTION */
.portraitImage {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  filter: grayscale(24%)
}

.aboutMeContainer {
  text-align: center;
  padding: 15vw 5vw;
}
.descriptionTitle h2{
  display: block;
  font-size: 3.4rem;
  padding: 1rem;
  color: black;
}

.descriptionParagraph {
  display: block;
  padding: 0 4vw 1vw 4vw;
  font-family: 'Avenir', 'Helvetica', 'Clear Sans', 'Sans-serif';
  font-weight: lighter;
}

.about-button {
  display: flex;
  margin: 0rem 1rem 1rem 1rem;
  justify-content: center;
}

.about-button button:hover {
  background-color: var(--palette-five);
  color: white;
}

.about-button button {
  border: solid 2px var(--palette-five);
  color: var(--small-font-color);
}

/* GRID FORMATTING */
@media screen and (max-width: 990px) {
  
  .flex-grid {
    flex-wrap: wrap
  }

  main .col-1 {
    width: 100%;
  }

  main .col-2 {
    width: 100%;
  }

  .welcomeStatement {
    color: var(--small-font-color);
    text-align: center;
    padding: 12vw 10vw 5vw 10vw;
    /* border: 2px solid  black; */
  }

  .welcomeImage{
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(30%)
  }
  .portraitImage {
    width: 100%;
    height: 0;
    
  }

  .about-button button {
    font-size: 1rem;
  }
}